html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  margin: 0;
  color: white;
  font-size: 20pt;
}
h1 {
  font-family: sans-serif;
}
#background {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  border: none;
}
#content {
  padding: 1em;
}
#content>* {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: lightblue;
}
a:visited {
  color: lightcoral;
}
a:hover {
  color: magenta;
}

